nav{
max-width: 100%;
border-top: 0.1em solid rgb(219, 216, 216);
border-bottom: 0.1em solid rgb(219, 216, 216);
display: block;
margin-top:2%;
font-family: 'Oswald', sans-serif;
font-size: 1.2rem;
ul{
    display: flex;
    margin: 0 auto;
li {
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li:last-of-type{
    margin-left: auto;
    .fa-bahai{
        color: red;
        font-size: 1rem;
    }
}
}
}