.first-grid{
  display: grid;
  grid-template-columns: 40% repeat(2, 1fr );
  gap: 2rem;
  grid-template-areas: 
  "big . ."
  "big large large";
  article{
    display: grid;
    grid-template-rows: 60% 40%;
    border: 0.05px solid rgb(185, 184, 184);
    .text{
    padding: 2%;
    }
  }
  img{
    display: block;
    max-width: 100%;
  }
  article:nth-of-type(1){
  display: grid;
  grid-area: big;
  grid-template-rows: 80% 20%;
}
  article:nth-of-type(4){
    display: flex;
    grid-area: large;
}
}

.second-grid{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-template-areas: 
  ". . ."
  ". . ."
  ". . .";
  article {
    height: 30%;
    width: 20%;
    .bg-mininews{
      background-image:url('../img/27-1068x713.jpg')
    }
  }
}
